.whatsNew{
    width:100%;
    font-family: var(--inter);
}
.comingSoon{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0.7rem;
}
.streamingPlatformsBlock{
    margin-top: 2.7em;
    width: 100%;
}
.streamingPlatformsBlock h5{
    font-size: 0.9rem;
    color: #1D3557;
    text-align: center;
    padding-bottom: 0.8rem;
}
.vip{
    width: 100%;
    margin-top: 3.5em;
}
.vip p {
    font-size: 0.87rem;
    font-weight: 500;
    text-align: center;
    color: #1D3557;
}
.vip form{
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 5%;
    align-items: center;
}
.vip form input{
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #1D3557;
    background-color: transparent;
}
.vip form input::placeholder{
    font-weight: 400;
    font-size: 0.85rem;
    color: #0000002e;
    letter-spacing: 0.1rem;
}
.vip form input:focus{
    outline: none;
}
.vip form button{
    color:#1D3557;
    padding: 0.8rem;
    font-weight: 500;
    border: 0.1rem solid #1D3557;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease;
}
.vip form button:active{
    color: #FFFBF4;
    background:#1D3557;
    opacity: 1;
}
.socialsBlock{
    margin: 1.7em auto 0 auto;
}
@media (hover: hover){
    .vip form button:hover{
        color: #FFFBF4;
        background:#1D3557;
    }
}