.create{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.create h2{
    text-align: center;
    color: #1D3557;
    margin-bottom: 1.5rem;
}
.create h2 span{
    display: block;
    margin-top:0.5rem
}
.create form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}