.unavailable{
    position: relative;
    margin-top: 3em;
}
.element{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.element h1{
    color:#1D3557;
    text-align: center;
}
.caution{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}