.editableShow{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
    transform: translateX(-150%);
    animation: loaded 1.5s cubic-bezier(0,-0.34, 0, 1.33) forwards;
}
.editableActions{
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-between;
    gap: 0.6rem;
    width: 100%;
}
.editRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap:0.6rem;
    width:100%;
}
.altText{
    color: #495464;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.2rem;
    font-weight: 600;
    background-color: #d9d9d97e;
    visibility:hidden ;
    transition: 0.1s ease;
}
.visible{
    visibility: visible;
}
.complete,.remove, .edit{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 0.3rem;
}
@media screen and (max-width:750px) {
    .editableActions{
        max-width: 550px;
        margin: auto;
    }
}
@keyframes loaded{
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(0%);
    }
}