.music{
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-family: var(--inter);
}
.bioTop{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.bioTop h3{
    color: #1D3557;
    font-weight: 500;
}
.bio{
    margin: 2.2em 0 3em 0;
}
.music p{
    color:#495464;
    font-size: 0.9rem;
}
.music p span{
    font-weight: 700;
}
.bio p{
    line-height: 2.1em;
}
.music a{
    color:#495464;
}
.imageCarouselBlock{
    width: 100%;
    margin:4em auto;
    padding:1.5rem;
    border-radius: 0.6rem;
    background-color: #D9D9D936;
}
.stats div{
    width: 33%;
    padding: 0.8rem;
    background-color: transparent;
}
.stats p{
    background-color: transparent;
    font-size: 0.85rem;
    text-align: center;
}
.stats p span{
    background-color: transparent;
    font-size: 3rem;
    display: block;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.statsExtras{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 6%;
}
.statsExtras div{
    border-radius: 0.6rem;
    background-color: #D9D9D936;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    padding: 2rem;
}
.statsExtras div a{
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    transition: 0.3s ease;
}
.statsExtras div h5{
    color: #495464;
    font-size: 0.87rem;
    font-weight: 700;
}
.arrow{
    transition: all 0.3 ease;
}
.press{
    margin-top: 5em;
}
.press h4{
    font-weight: 500;
    color:#1D3557;
}

@media (hover: hover){
    .statsExtras div a:hover{
        gap: 1.2rem;
    }
}
@media screen and (max-width:750px) {
    .stats{
        flex-direction: column;
        gap: 1.2rem;
        justify-content: center;
    }
    .stats div{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:600px) {
    .statsExtras{
        grid-template-columns: unset;
    }
}