.streamingPlatforms{
    width: 90%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em auto 0 auto;
}
.streamingPlatforms a{
    font-size: 0.7rem;
    cursor: pointer;
}
.streamingPlatforms a li{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s ease;
}
.streamingPlatforms a li img{
    width: 20px;
}
@media (hover: hover){
    .streamingPlatforms a:hover{
        font-size: 0.88rem;
    }
}
@media screen and (max-width:900px){
    .streamingPlatforms{
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
    }
}
@media screen and  (max-width:500px) {
    .streamingPlatforms a{
        width: 100%;
        font-size: 0.9rem;
        padding: 0.8rem;
        border-radius: 0.5rem;
        background-color: #D9D9D936;
    }
    .streamingPlatforms{
        flex-direction: column;
        gap: 0.7rem;
        flex-wrap: nowrap;
    }
    .streamingPlatforms a li{
        gap: 0.7rem;
        width: 100%;
        margin: auto;
        position: relative;
        justify-content: center;
    }
}