.blog{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    transform: translateX(-150%);
    animation: loaded 1.5s cubic-bezier(0,-0.34, 0, 1.33) forwards;
}
.blog a{
    width: 100%;
    margin: auto;
    padding: 1rem;
    border: 0.1rem solid #1D3557;
    border-radius: 0.3rem;
    text-align: center;
    transition: 0.3s ease;
}
.blog a:active{
    color: #FFFBF4;
    background:#1D3557;
}
.head{
    padding-bottom:0.8rem ;
    border-bottom: 0.1rem solid #1D3557;
}
.head h4{
    font-weight: 700;
}
.head h5{
    padding-top: 0.7rem;
    color: #495464;
    font-size: 0.87rem;
    font-weight: 700;
}
@media (hover: hover){
    .blog a:hover{
        color: #FFFBF4;
        background:#1D3557;
    }
}
@keyframes loaded{
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(0);
    }
}