.customFile{
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 1rem;
}
.customary{
    width:100%
}
.customary small{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    color:#1D3557;
    gap: 0.6rem;
    font-size: 0.8rem;
}
.crossInput{
    width: 100%;
}
.customFileInput{
    width: 100%;
}
.customFileInput::-webkit-file-upload-button{
    visibility: hidden;
}
.customFileInput::before{
    content: '';
    background-image: url(https://images.unsplash.com/photo-1439902315629-cd882022cea0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvdmVyJTIwYXJ0fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60);
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 0.5rem;
}