.updateBlog{
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    margin: auto;
    position:relative;
}
.updateBlog h2{
    text-align: center;
    color: #1D3557;
    margin-bottom: 1.5rem;
}
.updateBlog h2 span{
    display: block;
    margin-top:0.5rem
}
.updateBlog form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}