.whatsNew{
    width:100%;
    font-family: var(--inter);
}
.comingSoon{
    width: 100%;
    max-width: 600px;
    margin: auto;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-150%);
    border-radius: 0.7rem;
    animation: loadedImg 1.5s cubic-bezier(0,-0.34, 0, 1.33) forwards;
}
.streamingPlatformsBlock{
    margin-top: 2.7em;
    width: 100%;
}
.streamingPlatformsBlock h5{
    font-size: 0.9rem;
    color: #1D3557;
    text-align: center;
    padding-bottom: 0.8rem;
}
.vip{
    width: 100%;
    margin-top: 3.5em;
}
.vip p {
    font-size: 0.87rem;
    font-weight: 500;
    text-align: center;
    color: #1D3557;
}
.vip form{
    width: 100%;
    max-width: 700px;
    margin: 1.2em auto;
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 5%;
    align-items: last baseline;
}
.formElement input{
    color: #495464;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #1D3557;
    background-color: transparent;
}
.formElement input:focus{
    outline: none;
}
.vip form button{
    color:#1D3557;
    padding: 0.8rem;
    font-weight: 500;
    border: 0.1rem solid #1D3557;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease;
}
.formElement{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}
.formElement small{
    color: red;
    font-weight: 600;
    height: 0.8rem;
}
.formElement input.errorField{
    border-color:red;
}
.vip form button:active{
    color: #FFFBF4;
    background:#1D3557;
    opacity: 1;
}
.socialsBlock{
    margin: 1.7em auto 0 auto;
}
@media (hover: hover){
    .vip form button:hover{
        color: #FFFBF4;
        background:#1D3557;
    }
}
@media screen and (max-width:450px) {
    .vip form{
        grid-template-columns: unset;
        align-items: center;
    }
}
@keyframes loadedImg{
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(-50%);
    }
}