*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: var(--inter);
}
body{
  overflow-x:hidden;
}
body,footer{
  background-color: #FFFBF4;
}
:root{
  /* FONT-FAMILIES */
  --caesar:'Caesar Dressing', cursive;
  --inter:'Inter', sans-serif;
}
ul{
  list-style: none;
}
a{
  color: #1D3557;
  text-decoration: none;
  font-size: 0.85rem;
}
a:active, button:active{
  outline: none;
}
.App{
  min-height: 100vh;
  position: relative;
}
header{
  width: 100%;
  max-width:1050px;
  position: fixed;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background-color: #FFFBF4;
}
main{
  width: 85%;
  max-width: 1000px;
  margin: auto;
  padding: 9em 0 8em 0;
}
p{
  font-size: 0.85rem;
  line-height: 1.6em;
}
button:focus{
  outline: none;
}
ul{
  list-style:none;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
.defaultText{
  width: 100%;
  font-weight: 500;
  font-size:0.85rem;
  color: #495464;
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  margin-bottom: 1.5rem;
}
.defaultText span{
  display:block;
}
.defaultText span img{
  width:45px;
  height:45px;
}
.showsList{
  position: relative;
  min-height:150px;
}
link{
  display: block;
}
@media screen and (max-width:750px){
  header{
    left: 0;
    right: 0;
    transform: unset;
    z-index: 1;
    margin: auto;
  }
}