.socials{
    width: 90%;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: inherit;
}
@media (hover: hover){
    .socials a:hover{
        opacity: 0.8;
    }
}
