.radioButton{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:1rem;
}
.circle{
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 0.1rem solid #495464;
    cursor: pointer;
    position:relative;
}
.innerCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: transparent;
}
.innerCircle.active{
    background-color: #1D3557;
}
.radioInput{
    color:#495464;
}
.circle.errorField{
    border-color: red;
}