*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: var(--inter);
}
body,footer{
  background-color: #FFFBF4;
}
:root{
  /* FONT-FAMILIES */
  --caesar:'Caesar Dressing', cursive;
  --inter:'Inter', sans-serif;
}
ul{
  list-style: none;
}
a{
  color: #1D3557;
  text-decoration: none;
  font-size: 0.85rem;
}
.App{
  min-height: 100vh;
  position: relative;
}
header{
  width: 100%;
  max-width:1050px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background-color: #FFFBF4;
  padding:1.5rem 5% 0.1rem 5%;
  border-bottom: 0.1rem solid #495464;
}
main{
  width: 85%;
  max-width: 1000px;
  margin: auto;
  padding: 9em 0 8em 0;
}
p{
  font-size: 0.85rem;
  line-height: 1.6em;
}
ul{
  list-style:none;
}
@media screen and (max-width:750px){
  header{
    left: 0;
    right: 0;
    transform: unset;
    z-index: 1;
    margin: auto;
  }
}