.show{
    background: #D9D9D936;
    width: 100%;
    padding: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.6rem;
    cursor: pointer;
}
.show a{
    border-radius: 0.6rem;
    width: 90%;
    max-width: 200px;
    text-align: center;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}
.delete{
    position:relative;
    right:0;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2.4rem;
}
.desc{
    margin-top: 0.7rem;
}
.date, .location{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.ticket{
    transform:rotate(45deg)
}
.myArrow{
    display:none;
}
.date{
    text-align: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: #D9D9D9B5;
}
.location{
    align-items: flex-start;
}
@media (hover: hover) {
    .show a:hover{
        gap:1.2rem;
    }
    .show:hover{
        box-shadow: 0px 1px 2px 4px #4954640c;
    }
}
@media screen and (max-width:750px){
    .show{
        max-width: 550px;
        margin: auto;
        padding: 1.2rem;
    }
    .desc{
        display: none;
    }
    .show a{
        padding: unset;
        width: 120px;
    }
    .left{
        gap: 1.3rem;
    }
    .show a span{
        display: none;
    }
    .myArrow{
        display:block;
    }
    .location h5{
        text-align: left;
    }
    .date{
        gap: 0.1rem;
        justify-content: space-between;
    }
}
@keyframes loaded{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}