.update{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.update h2{
    text-align: center;
    color: #1D3557;
    margin-bottom: 1.5rem;
}
.update h2 span{
    display: block;
    margin-top: 0.5rem;
}
.showsList h2{
    color: #495464;
}
.defaultText span{
    display: block;
}
.update .showsList{
    gap: 0.4rem;
}
