.update{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.update h2{
    text-align: center;
    color: #1D3557;
    margin-bottom: 1.5rem;
}
.update h2 span{
    display: block;
    margin-top: 0.5rem;
}
.showsList h2{
    color: #495464;
}
.defaultText span{
    display: block;
}
.update .showsList{
    gap: 0.4rem;
}
.upcomingShows h5, .pastShows h5{
    color: #1D3557;
    font-size: 1rem;
    font-weight:500;
    text-align: center;
}
.showsList a{
    font-size: 0.88rem;
    font-weight: 600;
}
.myShowsActions{
    width:100%;
    max-width:150px;
    margin: auto;
    border: 0.1rem solid #1D3557;
    cursor: pointer;
    background-color: transparent;
    color: #1D3557;
    font-weight: 500;
    font-size: 0.85rem;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 0.3rem;
    padding: 0.8rem;
}
.upcomingShows, .pastShows{
    width: 100%;
    margin-top: 3em;
}
.shows small{
    color: #495464;
    font-size: 0.8rem;
}
.showsList{
    width: 100%;
    margin: 2.4em 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: all 0.3s ease;
}
@media (hover: hover){
    .actionsBlock a:hover{
        gap:1.2rem;
    }
    .myShowsActions:hover{
        color: #FFFBF4;
        background-color: #1D3557;
    }
    .myShowsActions:hover a{
        color:#FFFBF4;
    }
}

