.formElement{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.formElement label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: #495464;
    font-size: 0.85rem;
    font-weight: 500;
}
.formElement label small{
    color: red;
    font-size: 0.75rem;
    font-weight: 600;
}
.formElement input{
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #1D3557;
    color: #495464;
    background-color: transparent;
}
.formElement input::placeholder{
    font-weight: 400;
    font-size: 0.75rem;
    color: #495464;
    letter-spacing: 0.04rem;
}
.passwordBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.passwordBlock input{
    width: 100%;
}
.visibility{
    position:absolute;
    right:1rem;
}
.formElement input:focus, .passwordBlock input:focus{
    outline: none;
}
.formElement input.errorField, .passwordBlock input.errorField{
    border-color: red;
}