.editableSong{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
    width: 48%;
    opacity:0;
    animation:loadSong 1.5s ease-in-out 1 forwards;
}
.altText{
    color: #495464;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: #d9d9d97e;
    visibility:hidden ;
    transition: 0.3s ease;
}
.visible{
    visibility: visible;
}
.remove{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 0.3rem;
}
.mySong{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    gap:1rem;
    background: #D9D9D936;
    border-radius: 0.6rem;
    padding: 1rem;
    transition: all 0.3s ease;
}
.songLeft{
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:0.6rem;
}
.songLeft .date{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: #D9D9D9B5;
}
.mySong h5, .mySong small{
    color:#495464;
}
.mySong img{
    width:100%;
    max-width:40px;
    aspect-ratio: 1;
    border-radius: 0.3rem;
}
@media (hover: hover) {
    .mySong:hover{
        box-shadow: 0px 2px 4px 8px #4954640c;
    }    
}
@keyframes loadSong {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:700px) {
    .editableSong{
        width: 80%;
        margin: auto;
    }
    .mySong img{
        max-width: 50px;
    }
}
@media screen and (max-width:600px) {
    .editableSong{
        width: 90%;
    }
}
@media screen and (max-width:500px){
    .editableSong{
        width: 100%;
    }
}